<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   
    <nav>
        <a href="/">Home</a>
        <a href="/albums">All Albums</a>
        <a href="/albums/newAlbum">Add Album</a>
        <a href="/albums/editAlbum">Edit Album</a>

    </nav>


    <h1>Album Home Page</h1>

    

</body>
</html>