<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/albums">All Albums</a>
        <a href="/albums/newAlbum">Add Album</a>
                <a href="/albums/editAlbum">Edit Album</a>

    </nav>

    <h1>Album Index Page</h1>

    <ul>
    
        <% for (let i = 0; i < albums.length; i++) { %>
        <li style="margin-bottom: 20px;">
            <a href="/albums/<%= albums[i] %>">
                <%= albums[i].title %>
            </a>
        </li>
        <% } %>
    
    </ul>


</body>
</html>